<article class="real-estate-form add-form">
    <div class="container">
        <div class="real-estate">
            <header>Коментар</header>
            <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
                <textarea class="description" name="comment" formControlName="comment" placeholder="Коментар">

            </textarea>
                @if(commentForm.get('comment')?.touched){
                <div class="error">
                    @if(commentForm.get('comment')?.errors?.['required']){
                    <div class="error">Няма въведеа стойност!</div>
                    }
                    @if(commentForm.get('comment')?.errors?.['minlength']){
                    <div class="error">Невалиденa стойност! Не трябва да има по малко от 15 симбовала!</div>
                    }
                </div>
                }
                <button class="button" value="Add Real Estate">Добави</button>
            </form>
        </div>
    </div>
</article>
