<div class="avatar">
    <li class="image"> <img class="img"
            src="https://www.shutterstock.com/shutterstock/photos/1051033475/display_1500/stock-vector-user-icon-human-person-symbol-avatar-login-sign-circle-button-with-soft-color-gradient-1051033475.jpg">
    </li>
    @if (email()) {
    <li class="email">
        {{email()}}
    </li>
    }
</div>
<main class="home-page">
    <h1 class="title">
        Идеалният имот те очаква!
    </h1>
    <h1 class="title">
        Най-лесният начин да продадеш имот!
    </h1>
</main>
<app-last-three-estate />