<div class="avatar">
    <li class="image"> <img class="img"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBARqutqY5EwBaHgoWiiy7w5cY2oPaJZFBC1WaJ3H0DR2ASjVQKJbrLrOaZYRzSXb9R-M&usqp=CAU">
    </li>
    @if (email()) {
    <li class="email">
        {{email()}}
    </li>
    }
</div>
<main class="home-page">
    <h1 class="title">
        Идеалният имот те очаква!
    </h1>
    <h1 class="title">
        Най-лесният начин да продадеш имот!
    </h1>
</main>
<app-last-three-estate />