<section class="login-form">
    <div class="container">
        <div class="login">
            <header>Login</header>
            <form>
                <input type="text" placeholder="Enter your email" #email>
                <input type="password" placeholder="Enter your password" #password>
                <button (click)="login($event,email,password)" class="button" value="Login">Login</button>
            </form>
            <div class="signup-login">
                <span class="signup-login">Don't have an account?
                    <label routerLink="/register">Register</label>
                </span>
            </div>
        </div>
    </div>
</section>