/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem 0;
}

.container {
  max-width: 450px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  padding: 2rem;
}

.login {
  text-align: center;
}

.login header {
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.5rem;
  color: #002966;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

input{
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 17px;
  border: 1px solid #002966;
  border-radius: 6px;
  outline: none;
}

input:focus {
  box-shadow: 0 0 5px rgba(0, 41, 102, 0.4);
  border-color: #0287f4;
}

.button {
  padding: 0.75rem 1rem;
  font-size: 1.2rem;
  border: 1px solid #002966;
  background: #002966;
  color: #fff;
  border-radius: 6px;
  outline: none;
  align-self: center;
  transition: 0.4s ease;
  cursor: pointer;
  letter-spacing: 1px;
  font-weight: 500;
  width: 40%;
  margin-bottom: 1.2rem;
}

.button:hover {
  background: #0287f4;
}

.button:focus {
  box-shadow: 0 0 5px rgba(0, 41, 102, 0.4);
}

.signup-login {
  font-size: 17px;
  text-align: center;
}
.signup-login label {
  color: #002966;
  cursor: pointer;
}
.signup-login label:hover {
  text-decoration: underline;
}

.invalid-email,.invalid-pass {
  color: red;
}
.valid-email,.valid-pass {
  color: green;
}

