<section class="login-form">
    <div class="container">
        <input type="checkbox" id="check">
        <div class="login form">
            <header>Add New Real Estate</header>
            <form action="POST">
                <input type="text" placeholder="Image url">
                <input type="text" placeholder="Address">
                <input type="text" placeholder="City">
                <textarea class="description" name="description" id="" placeholder="Description"></textarea>
                <input type="button" class="button" value="Register">
            </form>
        </div>
    </div>
</section>
