<section class="real-estate-form">
  <div class="container">
    <div class="real-estate">
      <header>Добави нов имот</header>

      <form [formGroup]="estateFrom" (ngSubmit)="addNewRealEstate()">
        <input
          type="text"
          placeholder="Изображение"
          name="ImageUrl"
          formControlName="imageUrl"
        />
        <input
          type="text"
          placeholder="Цена"
          name="price"
          formControlName="price"
        />
        <input
          type="text"
          placeholder="Адрес"
          name="address"
          formControlName="address"
        />
        <input
          type="text"
          placeholder="Обзаведенане"
          name="furniture"
          formControlName="furniture"
        />
        <input
          type="number"
          placeholder="Спални"
          name="bedrooms"
          formControlName="bedrooms"
        />
        <textarea
          class="description"
          name="description"
          placeholder="Описание"
          formControlName="description"
        ></textarea>
        <button class="button" value="Add Real Estate">Добави</button>
      </form>
    </div>
  </div>
</section>
