.home-page-houses-style {
  font-family: "Arial", sans-serif;
  color: #333;
  display: flex;
  justify-content: center;
  display: flex;
  margin-top: 4em;
}

.property-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 1em;
  font-size: 1.2em;
}

.img-style {
  border-radius: 1em;
  width: 800px;
  height: 700px;
}

.house-item {
  display: flex;
  flex-direction: column;
}

.price {
  font-weight: bold;
  font-size: 2em;
  margin-top: 0.1em;
}

.address {
  margin-bottom: 1em;
  font-size: 1.2em;
  font-style: italic;
  text-decoration: none;
  color: #6c757d;
}
.specs {
  margin-bottom: 1em;
}

.btn.details {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.btn.details:hover {
  background-color: #0062cc;
}

.icon-bed {
  color: #007bff;
  font-size: 2em;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
}

.description {
  max-width: 450px;
  font-size: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 2em;
  word-wrap: break-word;
}

.description p {
  padding: 0.5em;
}

.image-and-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  gap: 2em;
  margin: 1em 0;
}

.edit ,.delete ,.comments {
  color: #fff;
  background: #002966;
  border: 1px solid #002966;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.4s ease;
  width: 100%;
  padding: 0.75rem 1rem;
  border-radius: 6px;
  outline: none;
}
.edit:hover ,.delete:hover ,.comments:hover {
  background: #0287f4;
}

.edit:focus ,.delete:focus ,.comments:focus {
  box-shadow: 0 0 5px rgba(0, 41, 102, 0.4);
}
