<div class="home-page-houses-style">
    <div class="image-and-buttons">
        <img class="img-style" src="{{house.imageUrl}}" alt="Image" />
        <div class="buttons">
            <button routerLink="/details/{{house._id}}/comments" class="comments">Comments</button>
            @if(owner()){
            <button (click)="onEdit()" class="edit">Edit</button>
            <button (click)="onDelete()" class="delete">Delete</button>
            }
        </div>
    </div>

    <div class="property-item">

        <div class="house-item">
            <div class="price"><span>{{house.price | currency:'EUR':'symbol':'1.0-0'}}</span></div>

            <div class="address-and-city">
                <p class="city">{{house.address}}</p>
            </div>

            <div class="specs">
                <span class="specs-bed">
                    <p class="caption"><b>Обзавеждане</b> {{house.furniture}}</p>
                </span>
                <span class="specs-bath">
                    <p class="caption"><b>Спални</b> {{house.bedrooms}}</p>
                </span>
            </div>
            <div class="description">
                <span><b>Описание</b></span>
                <p>{{house.description}}</p>
            </div>

        </div>
    </div>
</div>