* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.home-page-houses-style {
  font-family: "Arial", sans-serif;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:2em;
  border: 2px solid black;
  border-radius: 2em;
  width: auto;
}

.img-style {
  border-radius: 1em;
  width: auto;
  height: 80vh;
  padding: 1em;
  border-radius: 2em;
  flex-grow: 1;
}

.property-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1em;
  font-size: 1.2em;
  flex: 1 1 0;
}

.house-item {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.price {
  font-weight: bold;
  font-size: 2em;
  margin-top: 0.1em;
}

.address-and-city {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.description {
  max-width: 450px;
  font-size: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 2em;
  word-wrap: break-word;
}

.description p {
  padding: 0.5em;
}

.image-and-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 1 1;
}

.buttons {
  display: flex;
  gap: 2em;
  margin-bottom: 1em;
}

.edit ,.delete ,.comments {
  color: #fff;
  background: #002966;
  border: 1px solid #002966;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.4s ease;
  width: 100%;
  padding: 0.75rem 1rem;
  border-radius: 6px;
  outline: none;
}
.edit:hover ,.delete:hover ,.comments:hover {
  background: #0287f4;
}

.edit:focus ,.delete:focus ,.comments:focus {
  box-shadow: 0 0 5px rgba(0, 41, 102, 0.4);
}
