<section class="real-estate-form">
    <div class="container">
        <div class="real-estate">
            <header>Edit</header>
            <form>
                <input type="text" placeholder="Image url">
                <input type="text" placeholder="Price">
                <input type="text" placeholder="Address">
                <input type="text" placeholder="Furniture">
                <input type="text" placeholder="Bedrooms">
                <textarea class="description" name="description" id="" placeholder="Description"></textarea>
                <button class="button" value="Add Real Estate">Add</button>
            </form>
        </div>
    </div>
</section>