/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.real-estate-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem 0;
}

.container {
  max-width: 450px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  padding: 2rem;
}

.real-estate header {
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.5rem;
  color: #002966;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

input,
textarea{
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 17px;
  border: 1px solid #002966;
  border-radius: 6px;
  outline: none;
}

input:focus,
textarea:focus {
  box-shadow: 0 0 5px rgba(0, 41, 102, 0.4);
  border-color: #0287f4;
}

input[type="text"],
input[type="number"] {
  background-color: #f8f8f8;
}

textarea {
  height: 150px;
  background-color: #f8f8f8;
  resize: none;
}
.button {
  padding: 0.75rem 1rem;
  font-size: 1.2rem;
  border: 1px solid #002966;
  background: #002966;
  color: #fff;
  border-radius: 6px;
  outline: none;
  align-self: center;
  transition: 0.4s ease;
  cursor: pointer;
  letter-spacing: 1px;
  font-weight: 500;
  width: 40%;
}

.button:hover {
  background: #0287f4;
}

.button:focus {
  box-shadow: 0 0 5px rgba(0, 41, 102, 0.4);
}
