<section class="real-estate-form">
  <div class="container">
    <div class="real-estate">
      <header>Промени</header>
      <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
        <input
          type="text"
          name="imageUrl"
          placeholder="Изображение"
          formControlName="imageUrl"

        />
        <input
          type="text"
          name="price"
          placeholder="Цена"
          formControlName="price"

        />
        <input
          type="text"
          name="address"
          placeholder="Адрес"
          formControlName="address"

        />
        <input
          type="text"
          name="furniture"
          placeholder="Обзаведенане"
          formControlName="furniture"

        />
        <input
          type="number"
          name="bedrooms"
          placeholder="Спални"
          formControlName="bedrooms"

        />
        <textarea
          class="description"
          name="description"
          placeholder="Описание"
          formControlName="description"
       
        ></textarea>

        <button class="button" value="Add Real Estate">Запази</button>
      </form>
    </div>
  </div>
</section>
