<div class="home-page-houses-style">
    <div class="property-item">
        <a class="img">
            <img src="img_1.jpg" alt="Image" class="img-style" />
        </a>

        <div class="house-item">
            <div class="price"><span>$1,291,000</span></div>

            <div class="address-and-city">
                <p class="address">5232 California Fake, Ave. 21BC</p>
                <p class="city">California, USA</p>
            </div>

            <div class="specs">
                <span class="specs-bed">
                    <span class="icon-bed"></span>
                    <span class="caption">2 beds</span>
                </span>
                <span class="specs-bath">
                    <span class="icon-bath"></span>
                    <span class="caption">2 baths</span>
                </span>
            </div>

            <!-- <a href="property-single.html" class="btn details">See details</a> -->

        </div>
    </div>
    <!-- .item -->

    <div class="property-item">
        <a class="img">
            <img src="img_2.jpg" alt="Image" class="img-style" />
        </a>

        <div class="house-item">
            <div class="price"><span>$1,291,000</span></div>

            <div class="address-and-city">
                <p class="address">5232 California Fake, Ave. 21BC</p>
                <p class="city">California, USA</p>
            </div>

            <div class="specs">
                <span class="specs-bed">
                    <span class="icon-bed"></span>
                    <span class="caption">2 beds</span>
                </span>
                <span class="specs-bath">
                    <span class="icon-bath"></span>
                    <span class="caption">2 baths</span>
                </span>
            </div>

            <!-- <a href="property-single.html" class="btn details">See details</a> -->

        </div>
    </div>
    <!-- .item -->

    <div class="property-item">
        <a  class="img">
            <img src="img_3.jpg" alt="Image" class="img-style" />
        </a>

        <div class="house-item">
            <div class="price"><span>$1,291,000</span></div>

            <div class="address-and-city">
                <p class="address">5232 California Fake, Ave. 21BC</p>
                <p class="city">California, USA</p>
            </div>

            <div class="specs">
                <span class="specs-bed">
                    <span class="icon-bed"></span>
                    <span class="caption">2 beds</span>
                </span>
                <span class="specs-bath">
                    <span class="icon-bath"></span>
                    <span class="caption">2 baths</span>
                </span>
            </div>

            <!-- <a href="property-single.html" class="btn details">See details</a> -->

        </div>
    </div>
    <!-- .item -->

</div>