<div class="home-page-houses-style">
    @for (house of houses; track $index) {

    <div class="property-item">

        <img class="img-style" src="{{house.imageUrl}}" alt="Image" />

        <div class="house-item">
            <div class="price"><span>{{house.price | currency:'EUR':'symbol':'1.0-0'}}</span></div>

            <div class="address-and-city">
                <p class="text"><b>Населено място: </b>{{house.address}}</p>
                <p class="text"> <b>Обзавеждане: </b> {{house.furniture}}</p>
                <p class="text"><b>Спални</b>: {{house.bedrooms}}</p>
            </div>
        </div>
    </div>
    }
</div>