<section>
    @if ( comments.length <= 0){ <h1 class="not-have-comments">Нямате довавени Коментари!</h1>
        }
        @for (comment of comments; track $index) {
        <article class="real-estate-form comments-and-buttons">
            <div class="comment">
                <p class="email">{{comment.email}}</p>
                <p class="text-comment">{{comment.comment}}</p>
            </div>
            @if(isLoggedIn()){
            @if(ownerComment()===comment.email){
            <div class="buttons">
                <button (click)="onEditComment(comment)" class="button edit">edit</button>
                <button (click)="onDelete(comment)" class="button delete">delete</button>
            </div>
            }
            }
        </article>

        }
        @if(isLoggedIn()){
        @if(isOwner()){
        <article class="real-estate-form add-form">
            <div class="container">
                <div class="real-estate">
                    <header>Коментар</header>
                    <form [formGroup]="commentForm" (ngSubmit)="addCommentHandler()">
                        <textarea class="description" name="comment" formControlName="comment" placeholder="Коментар">

                    </textarea>
                        @if(commentForm.get('comment')?.touched){
                        <div class="error">
                            @if(commentForm.get('comment')?.errors?.['required']){
                            <div class="error">Няма въведеа стойност!</div>
                            }
                            @if(commentForm.get('comment')?.errors?.['minlength']){
                            <div class="error">Невалиденa стойност! Не трябва да има по малко от 15 симбовала!</div>
                            }
                        </div>
                        }
                        <button class="button" value="Add Real Estate">Добави</button>
                    </form>
                </div>
            </div>
        </article>
        }
        }
</section>