<section>
    @for (comment of comments; track $index) {
    <article class="real-estate-form">
        <div class="comment">
            <h4 class="center">{{comment.email}}</h4>
            <p>{{comment.comment}}</p>
        </div>
    </article>

    }
    @if(isLoggedIn()){
    @if(isOwner()){
    <article class="real-estate-form">
        <div class="container">
            <div class="real-estate">
                <header>Comment</header>
                <form>
                    <textarea class="description" name="description" id="" placeholder="Comment"></textarea>
                    <button class="button" value="Add Real Estate">Add</button>
                </form>
            </div>
        </div>
    </article>
    }
    }
</section>