<section>
    @if ( comments.length <= 0){
        <h1 class="not-have-comments">Нямате довавени Коментари!</h1>
   }
    @for (comment of comments; track $index) {
    <article class="real-estate-form">
        <div class="comment">
            <h4 class="center">{{comment.email}}</h4>
            <p>{{comment.comment}}</p>
        </div>
    </article>

    }
    @if(isLoggedIn()){
    @if(isOwner()){
    <article class="real-estate-form">
        <div class="container">
            <div class="real-estate">
                <header>Comment</header>
                <form [formGroup]="commentForm" (ngSubmit)="addCommentHandler()">
                    <textarea 
                     class="description"
                     name="comment"
                     formControlName="comment"
                     placeholder="Comment">
                     
                    </textarea>
                    <button class="button" value="Add Real Estate">Add</button>
                </form>
            </div>
        </div>
    </article>
    }
    }
</section>