@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

.navbar {
  position: relative;
  top: 5%;
  left: 0%;
  text-align: center;
  color: white;
  font-weight: bold;
}

.title {
  color: rgb(255, 98, 0);
  font-size: 4em;
  opacity: 90%;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  text-shadow: 12px 12px 15px rgba(0, 0, 0, 0.5);
}

.navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2em;
  align-items: center;
  justify-content: center;
}

.navbar-list a {
  color: rgb(17, 0, 255);
  font-size: 2.5em;
  text-decoration: none;
  background-color: aliceblue;
  border-radius: 1em;
  padding: 0.2em;
  opacity: 50%;
}

.navbar-list-item a{
  color: red;
}

