@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

.navbar {
  position: relative;
  top: 5%;
  left: 0%;
  text-align: center;
  color: white;
  font-weight: bold;
}

.title {
  color: rgb(255, 98, 0);
  font-size: 3em;
  opacity: 90%;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  text-shadow: 12px 12px 15px rgba(0, 0, 0, 0.5);
}

.navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2em;
  align-items: center;
  justify-content: center;
}

.navbar-list a {
  color: rgb(17, 0, 255);
  font-size: 2em;
  text-decoration: none;
  background-color: aliceblue;
  border-radius: 1em;
  padding: 0.2em;
  opacity: 50%;
}

.navbar-list a:hover {
  color: red;
}

.avatar {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 5%;
  left: 1%;
  border-radius: 2em;
  border: 2px solid black;
  padding: 1em;
}

.email {
  list-style-type: none;
  color: red;
  font-size: 1.4em;
  border-radius: 1em;
  word-wrap: break-word;
  background-color: aqua;
  padding: 0.2em;
}

.img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  opacity: 50%;
}
.image {
  list-style-type: none;
}
