<section class="navbar">
    <h1 class="title">Елит Имоти</h1>
    <ul class="navbar-list">
        <li appNavbarHighlight><a routerLink="/">Начало</a></li>
        <li appNavbarHighlight><a routerLink="/all-estate">Всички имоти</a></li>
        @if(isLoggedIn()){
        <li appNavbarHighlight><a routerLink="/add-new-real-estate">Добави имот</a></li>
        <li appNavbarHighlight><a routerLink="/my-estate">Моите имоти</a></li>
        <li appNavbarHighlight><a (click)="logout()" routerLink="/logout">Излез</a></li>

        }@else {
        <li appNavbarHighlight><a routerLink="/register">Регистрация</a></li>
        <li appNavbarHighlight><a routerLink="/login">Влез</a></li>
        }
    </ul>
</section>


<router-outlet />